html,body,div,span,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;color:#333;}
ol,ul,li{list-style:none;color:#333;font-weight:none;}
html,body{font-family: PingFangSC-Regular, sans-serif;color:#333;width: 100%;}
h1,h2,h3,h4,h5,h6{font-weight: normal;color:#333;}
input[type=button], input[type=submit], input[type=file], button,input[type=text]{ cursor: pointer; -webkit-appearance: none;outline:none; border-radius:0;color:#333;box-shadow:none;} 
a{text-decoration: none;color:#333;}
a:active{border:none;background: none;}
h1{
	font-size: 5vmin;
	font-weight: bolder;
	margin-left: 2%;
}
p.slogan{
	margin: 3vmin 2%;
	text-indent:8vmin;
	font-size: 4vmin;
	color:#000;
}
h2{
	font-size: 3.5vmin;
	font-weight: bold;
	text-align: center;
	margin:5vmin 0 3vmin 0;
}
a.mao{
	display: block;
	margin: 3vmin 2%;
	color: #444;
	font-size: 3.5vmin;
}
h3{
	font-size: 3.5vmin;
	font-weight: bold;
	margin:3vmin 0 3vmin 2%;
}
h4{
	font-size: 3.5vmin;
	color: #444;
	margin: 3vmin 2%;
}
p{
	font-size: 3.5vmin;
	color: #555;
	margin: 2vmin 2%;
	line-height: 6vmin;
}
a.website{
	/*display:none;*/
	font-size: 3.5vmin;
	color: blue;
	display: inline-block;
	word-break:break-all;
}